/* 
    Document   : problem
    Created on : 19/06/2013, 10:20:59 AM
    Author     : camilourd
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#showproblem {
    width: 65%;
    float: left;
    display: inline;
    padding: 0px 10px 5px 20px;
}

#showproblem h1 {
    font-size: 1.9em;
    font-weight: bold;
    text-align: center;
    color: #48802c;
}

#showproblem h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 20px 10px 10px 10px;
    color: #48802c;
}

#showproblem h3 {
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    color: #48802c;
}

#showproblem p {
    font-size: 0.9em;
    margin: 10px 0px 10px 0px;
    text-align: justify;
}

#showproblem li {
    font-size: 0.9em;
    margin-left: 50px;
}

#showproblem table {
    border: 0.1em solid #C0C0C0;
}

#showproblem table p {
    font-size: 0.9em;
    margin: 0px;
}

#showproblem table td {
    padding: 2px 10px 2px 10px;
}

#showproblem table tr:nth-child(odd) {
    background: #BAD1EB;
    font-weight: bold;
}

#showproblem table tr:nth-child(even) {
    background: #DAF6B2;
}

#showsubmit {
    border: .1em solid #C0C0C0;
    width: 29.3%;
    margin: 30px 5px 5px 5px;
    float: right;
    display: inline;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

#showsubmit label[for=comment] {
    font-size: 1em;
    font-weight: bold;
}

#showsubmit select {
    padding: 2px 5px 2px 5px;
    width: 225px;
    background-color: #DAF6B2;
}

#showsubmit input[type=submit] {
    padding: 3px 10px 3px 10px;
    width: 150px;
    background: #E5E5E5;
    border-radius: 2px;
}

#showsubmit input[type=file] {
    background-color: #DAF6B2;
    width: 210px;
}

.submit {
    border: .1em solid #C0C0C0;
    margin: 30px 30px 5px 30px;
    padding: 10px;
    width: 480px;
    border-radius: 5px;
}

.submit label[for=comment] {
    font-size: 1.1em;
    font-weight: bold;
}

.submit select {
    padding: 2px 5px 2px 5px;
    width: 320px;
    background-color: #DAF6B2;
}

.submit input[type=file] {
    background-color: #DAF6B2;
}

.submit input[type=submit] {
    padding: 3px 10px 3px 10px;
    width: 150px;
    background: #E5E5E5;
    border-radius: 2px;
}