/* 
    Document   : navbar
    Created on : 18/06/2013, 06:14:36 PM
    Author     : camilourd
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#navbar {
    margin: 10px 30px 0px 30px;
    padding: 3px 50px 3px 50px;
    border: .2em solid #51a055;
    border-radius: 20px;
}

#navbar ul {
    list-style-type: none;
    text-align: center;
}

#navbar li {
    display: inline;
    text-align: center;
    font-size: 1.5em;
}

#navbar li a {
    color: white;
    margin-left: 10px;
    text-decoration: none;
    padding: 0px 10px 0px 10px;
}

#navbar li a:hover {
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
    
    background: #808080;
}

#contestbar {
    margin: 0px 30px 0px 30px;
    font-weight: bold;
}

#contestbar ul {
    list-style-type: none;
    text-align: center;
}

#contestbar li {
    display: inline;
    text-align: center;
    font-size: 1em;
}

#contestbar li a {
    color: black;
    margin-right: 10px;
    padding: 3px 5px 3px 5px;
    font-style: normal;
    text-decoration: none;
}

#contestbar li a:hover {
    background: #51a055;
    padding: 3px 5px 3px 5px;
    border-radius: 2px;
    color: white;
}

div.subbar {
   margin: 10px 30px 0px 30px;
}

label[for=contest] {
    font-size: 1.2em;
    color: black;
    padding: 3px 0px 3px 0px;
}

label[for=contestname] {
    margin-left: 5px;
    font-size: 1.2em;
    color: crimson;
    padding: 3px 0px 3px 0px;
}

div.timebar {
   margin: 0px 30px 0px 30px;
}

label[for=timetitle] {
    font-size: 1em;
    color: black;
    padding: 3px 0px 3px 0px;
}

label[for=remtime] {
    margin-left: 5px;
    font-size: 1em;
    color: crimson;
    padding: 3px 0px 3px 0px;
}