/* 
    Document   : problem
    Created on : 19/06/2013, 10:20:59 AM
    Author     : camilourd
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#showproblem {
    border: .2em solid #48802C;
    width: 70%;
    margin: 30px 5px 5px 5px;
}

#showsubmit {
    border: .2em solid #48802C;
    width: 28%;
    margin: 30px 5px 5px 5px;
}

.submit {
    border: .1em solid #C0C0C0;
    margin: 30px 30px 5px 30px;
    padding: 10px;
    width: 480px;
}

.submit label[for=comment] {
    font-size: 1.1em;
    font-weight: bold;
}

.submit select {
    padding: 2px 5px 2px 5px;
    width: 320px;
    background-color: #DAF6B2;
}

.submit input[type=file] {
    background-color: #DAF6B2;
}

.submit input[type=submit] {
    padding: 3px 10px 3px 10px;
    width: 150px;
    background: #E5E5E5;
    
}